[gcode_macro HOME_ALL]
description: "Homing XY, move to center, then probe Z"
gcode:
    G90
    G28 X Y
    G1 X175 Y175 F6000
    G1 Z10 F300
    PROBE

[gcode_macro SAFE_HOME]
gcode:
    G28 X Y       ; Hacer homing de X y Y primero
    G1 Z10 F1000  ; Mover Z a una altura segura para evitar colisiones
    G28 Z ;
    PROBE           ; Hacer homing del eje Z con el probe


[gcode_macro FILAMENT_UNLOAD]
description: Descargar filamento (con temperatura ajustable)
gcode:
  {% set temperature = params.TEMPERATURE if params.TEMPERATURE is not none else 210 %}
  M104 S{temperature} ; Calienta el hotend a la temperatura proporcionada (por defecto 210°C)
  M109 S{temperature} ; Espera a que el hotend esté listo
  G92 E0 ; Resetea el extrusor
  G1 E-50 F200 ; Retira 100mm de filamento
  G92 E0 ; Resetea el extrusor de nuevo
  G1 Z10 F1000 ; Mueve el extrusor hacia arriba para facilitar la retirada del filamento

[gcode_macro FILAMENT_LOAD]
description: Cargar filamento (con temperatura ajustable)
gcode:
  {% set temperature = params.TEMPERATURE if params.TEMPERATURE is not none else 210 %}
  M104 S{temperature} ; Calienta el hotend a la temperatura proporcionada (por defecto 210°C)
  M109 S{temperature} ; Espera a que el hotend esté listo
  G92 E0 ; Resetea el extrusor
  G1 E150 F300 ; Empuja 200mm de filamento (aumentamos la cantidad)
  G92 E0 ; Resetea el extrusor de nuevo
  G1 E20 F300 ; Empuja un poco más de filamento para asegurar la carga

  
#[gcode_macro PRINT_START]
#gcode:
 #   M117 Starting Print...
  #  G28
  #  BED_MESH_CALIBRATE ADAPTIVE=1 RUNS=2
  #  G92 E0
  #  G1 Z2.0 F3000 ; subir el nozzle
  #  G1 X5 Y5 F1500
  #  G1 Z0.3 F1200

[gcode_macro PRINT_START]
gcode:
    M117 Vamoh a darle...
    G90
    M83
    G28
    BED_MESH_CALIBRATE ADAPTIVE=1 RUNS=2
    G1 Z2.0 F3000               ; Subir nozzle para moverse sin riesgo
    M109 S200                   ; Esperar a temperatura del hotend (después del mesh)
    M190 S60                    ; Esperar a temperatura de la cama (si usas)
    G1 X5 Y5 F1500              ; Mover a esquina para purgar
    G1 Z0.3 F1200               ; Bajar a altura de primera capa
    G92 E0                      ; Reset extrusor
    G1 E2 F200                  ; Purga 2mm
    G1 X150 E12 F1000           ; Dibujar línea mientras extruye
    G1 X5 E12 F1000             ; Regresar (opcional, doble línea)
    G92 E0                      ; Reset extrusor para impresión limpia

[gcode_macro PRINT_END]
gcode:
    M400                     ; Espera a que termine el buffer
    G91                      ; Modo relativo
    G1 Z10 F600              ; Subir Z 10 mm para evitar rayar pieza
    G90                      ; Volver a modo absoluto
    G1 X0 Y300 F3000         ; Mover cabezal a home X e Y (ajusta Y según tu impresora)
    M104 S0                  ; Apagar hotend
    M140 S0                  ; Apagar cama
    M84                      ; Desactivar motores (opcional)
    M117 Print Finished



  
