[gcode_macro HOME_ALL]
description: "Homing XY, move to center, then probe Z"
gcode:
    G90
    G28 X Y
    G1 X175 Y175 F6000
    G1 Z10 F300
    PROBE

[gcode_macro SAFE_HOME]
gcode:
    G28 X Y       ; Hacer homing de X y Y primero
    G1 Z10 F1000  ; Mover Z a una altura segura para evitar colisiones
    G28 Z ;
    PROBE           ; Hacer homing del eje Z con el probe


[gcode_macro FILAMENT_UNLOAD]
description: Descargar filamento (con temperatura ajustable)
gcode:
  {% set temperature = params.TEMPERATURE if params.TEMPERATURE is not none else 210 %}
  M104 S{temperature} ; Calienta el hotend a la temperatura proporcionada (por defecto 210°C)
  M109 S{temperature} ; Espera a que el hotend esté listo
  G92 E0 ; Resetea el extrusor
  G1 E-50 F200 ; Retira 100mm de filamento
  G92 E0 ; Resetea el extrusor de nuevo
  G1 Z10 F1000 ; Mueve el extrusor hacia arriba para facilitar la retirada del filamento

[gcode_macro FILAMENT_LOAD]
description: Cargar filamento (con temperatura ajustable)
gcode:
  {% set temperature = params.TEMPERATURE if params.TEMPERATURE is not none else 210 %}
  M104 S{temperature} ; Calienta el hotend a la temperatura proporcionada (por defecto 210°C)
  M109 S{temperature} ; Espera a que el hotend esté listo
  G92 E0 ; Resetea el extrusor
  G1 E150 F300 ; Empuja 200mm de filamento (aumentamos la cantidad)
  G92 E0 ; Resetea el extrusor de nuevo
  G1 E20 F300 ; Empuja un poco más de filamento para asegurar la carga

  
#[gcode_macro PRINT_START]
#gcode:
 #   M117 Starting Print...
  #  G28
  #  BED_MESH_CALIBRATE ADAPTIVE=1 RUNS=2
  #  G92 E0
  #  G1 Z2.0 F3000 ; subir el nozzle
  #  G1 X5 Y5 F1500
  #  G1 Z0.3 F1200

# [gcode_macro PRINT_START]
# gcode:
#     M117 Vamoh a darle...         # Mostrar mensaje en pantalla LCD ("¡Vamos a darle!")
#     G90                           # Usar posicionamiento absoluto para los ejes
#     M83                           # Usar extrusión relativa (importante para la purga)
#     G28                           # Hacer homing de todos los ejes (X, Y, Z)
#     BED_MESH_CALIBRATE ADAPTIVE=1 RUNS=2  # Calibrar el mesh adaptativo: mide solo donde se va a imprimir, 2 veces por punto
#     G1 Z2.0 F3000                 # Subir el nozzle a 2 mm para evitar golpear la cama al moverse
#     M109 S200                     # Esperar a que el hotend alcance 200 °C (comenzar purga después del mesh)
#     M190 S60                      # Esperar a que la cama alcance 60 °C
#     G1 X40 Y5 F1500               # Mover el cabezal a la esquina frontal izquierda (zona de purga)
#     G1 Z0.3 F1200                 # Bajar a 0.3 mm sobre la cama (altura de la primera capa)
#     G92 E0                        # Poner el extrusor a 0 (reset del valor E)
#     G1 E2 F200                    # Extruir 2 mm de filamento lentamente para iniciar el flujo
#     G1 X150 E12 F1000             # Dibujar una línea recta hacia la derecha mientras se extruye
#     G1 X40 E12 F1000              # Regresar a la izquierda con otra línea (doble línea opcional)
#     G92 E0                        # Resetear el extrusor nuevamente para comenzar la impresión limpio



[gcode_macro PRINT_START]
description: Vamoh a darle con params
gcode:
    {% set bed_temp = params.BED_TEMP|default(60, true)|float %}
    {% set hotend_temp = params.HOTEND_TEMP|default(200, true)|float %}

    M117 Vamoh a darle...
    G90
    M83
    G28
    BED_MESH_CALIBRATE ADAPTIVE=1 RUNS=2
    G1 Z2.0 F3000                      ; Subir nozzle para moverse sin riesgo
    M190 S{bed_temp}                  ; Esperar a temperatura de la cama
    M109 S{hotend_temp}              ; Esperar a temperatura del hotend
    G1 X40 Y5 F1500                   ; Mover a esquina para purgar
    G1 Z0.3 F1200                     ; Bajar a altura de primera capa
    G92 E0                            ; Reset extrusor
    G1 E2 F200                        ; Purga 2mm
    G1 X150 E12 F1000                 ; Dibujar línea mientras extruye
    G1 X40 E12 F1000                  ; Regresar (opcional, doble línea)
    G92 E0                            ; Reset extrusor para impresión limpia
                  ; Reset extrusor para impresión limpia



[gcode_macro PRINT_START_PLA]
gcode:
    M117 Vamoh a darle...
    G90
    M83
    G28
    BED_MESH_CALIBRATE ADAPTIVE=1 RUNS=2
    G1 Z2.0 F3000               ; Subir nozzle para moverse sin riesgo
    M190 S55                    ; Esperar a temperatura de la cama
    M109 S220                   ; Esperar a temperatura del hotend
    G1 X40 Y5 F1500             ; Mover a esquina para purgar
    G1 Z0.3 F1200               ; Bajar a altura de primera capa
    G92 E0                      ; Reset extrusor
    G1 E2 F200                  ; Purga 2mm
    G1 X150 E12 F1000           ; Dibujar línea mientras extruye
    G1 X40 E12 F1000            ; Regresar (opcional, doble línea)
    G92 E0                      ; Reset extrusor para impresión limpia        

[gcode_macro PRINT_END]
gcode:
    M400                     ; Espera a que termine el buffer
    G91                      ; Modo relativo
    G1 Z30 F600              ; Subir Z 10 mm para evitar rayar pieza
    G90                      ; Volver a modo absoluto
    M104 S0                  ; Apagar hotend
    M140 S0                  ; Apagar cama
    M84                      ; Desactivar motores (opcional)
    M117 Print Finished

[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.    



  
