#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
endstop_pin: ^nhk:gpio13
position_min: 0
position_endstop: 350
position_max: 350

##--------------------------------------------------------------------
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0




## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16

rotation_distance: 40
endstop_pin: ^PF3
position_min: 0
position_endstop: 350
position_max: 350

##--------------------------------------------------------------------
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to VirtualProbe
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 350
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_z1]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_z2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_z3]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PG10
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0



[extruder]
step_pin: nhk:gpio23
dir_pin: !nhk:gpio24
enable_pin: !nhk:gpio25
heater_pin: nhk:gpio9
sensor_pin: nhk:gpio29
pullup_resistor: 2200
microsteps: 16 
sensor_type: ATC Semitec 104NT-4-R025H42G
min_temp: 0
max_temp: 300
control: pid
pid_Kp:30.246
pid_Ki:3.666
pid_Kd:62.382



nozzle_diameter: 0.4
filament_diameter: 1.75
rotation_distance: 4.709376
max_extrude_only_distance: 150
pressure_advance: 0.5

[tmc2209 extruder]
uart_pin: nhk:gpio0      # Pin UART para el controlador
tx_pin: nhk:gpio1        # Pin de transmisión para el UART
interpolate: false       # Desactivar interpolación si no es necesario
run_current: 0.45        # Corriente de ejecución para el motor
sense_resistor: 0.100    # Resistencia de detección de corriente
stealthchop_threshold: 0 # Establece el umbral de StealthChop (ajusta según sea necesario)
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4